/* line 1, /Users/lukesmith/Software/drupal_version_checker/app/assets/stylesheets/style.css.scss */
body {
  font-family: sans-serif;
  color: #333;
}

/* line 6, /Users/lukesmith/Software/drupal_version_checker/app/assets/stylesheets/style.css.scss */
h1, h2, p {
  margin: 0 0 10px 0;
}

/* line 8, /Users/lukesmith/Software/drupal_version_checker/app/assets/stylesheets/style.css.scss */
a {
  color: inherit;
  text-decoration: none;
}

/* line 10, /Users/lukesmith/Software/drupal_version_checker/app/assets/stylesheets/style.css.scss */
table {
  width: 100%;
  margin-bottom: 20px;
}
/* line 13, /Users/lukesmith/Software/drupal_version_checker/app/assets/stylesheets/style.css.scss */
table th {
  text-align: left;
}
/* line 14, /Users/lukesmith/Software/drupal_version_checker/app/assets/stylesheets/style.css.scss */
table td, table th {
  padding: 10px 0;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

