body {
  font-family: sans-serif;
  color: #333;
}

h1, h2, p { margin: 0 0 10px 0; }

a { color: inherit; text-decoration: none; }

table { 
  width: 100%; 
  margin-bottom: 20px; 
  th { text-align: left; }
  td,th { padding: 10px 0; }
}