%h1
  Current Version:
  = @current_version
%h1
  Security Release:
  = @security_release
%p
  Based on latest release @ http://updates.drupal.org/release-history/drupal/7.x
%p
  = link_to "Sites", sites_path
