%h1 Edit Site

= form_for @site do |f|
  %table
    %tr
      %td= f.label :name, "Site name"
      %td= f.text_field :name, size: 40
    %tr
      %td= f.label :url, "XML URL"
      %td= f.text_field :url, size: 60
    %tr
      %td
      %td= f.submit "Save"