%h1 Sites

- if @sites.count > 0
  %table
    %tr
      %th Site Name
      %th URL
      %th Drupal Version
      %th Up to date?
    - @sites.each do |s|
      - version = s.version
      %tr
        %td= link_to s.name, s
        %td= s.url
        %td= version
        %td= @current_version != version ? "NO" : "YES"

- else
  %p No sites to display. 

= link_to "Add new site", new_site_path