%h1 View Site

%p= "Name: #{@site.name}"
%p= "URL: #{@site.url}"
%p= "Drupal Version: #{@site.version}"

%p= link_to "Edit", edit_site_path(@site)

%p= link_to "Delete Site", @site, :method => :delete
